# Dependencies
node_modules/

# Environment Variables & Secrets
.env

# Uploads (user generated media)
uploads/*
!uploads/.gitkeep

# System & Log files
*.log
.DS_Store
# Testing & Coverage
coverage/
.nyc_output/
